html,
body {
  height: 100%;
}

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  margin: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: $header-height auto;

  .header {
    grid-column: 1 / -1;
    @include header();
  }
  .content {
    grid-column: 1 / -1;
    margin: 0px 10%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .layout {
    grid-template-rows: $header-height * 3 auto;
    .header {
      flex-direction: column;
    }
    .content {
      margin: 0px;
    }
  }
}
